@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic reset and layout */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden; /* 只禁止水平滚动 */
  overflow-y: auto; /* 允许垂直滚动 */
}

#root {
  height: 100%;
}
